<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.manage.mapper.TaskProgressInfoMapper">

    <resultMap type="TaskProgressInfo" id="TaskProgressInfoResult">
        <result property="id" column="id"/>
        <result property="clientId" column="client_id"/>
        <result property="demandId" column="demand_id"/>
        <result property="taskId" column="task_id"/>
        <result property="progress" column="progress"/>
        <result property="taskStatus" column="task_status"/>
        <result property="userId" column="user_id"/>
        <result property="deptId" column="dept_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="progressImage" column="progress_image"/>
    </resultMap>

    <sql id="selectTaskProgressInfoVo">
        select id,
               client_id,
               demand_id,
               task_id,
               progress,
               progress_image,
               task_status,
               user_id,
               dept_id,
               create_time,
               update_by,
               update_time,
               remark
        from tb_task_progress_info
    </sql>

    <select id="selectTaskProgressInfoList" parameterType="TaskProgressInfo" resultMap="TaskProgressInfoResult">
        <include refid="selectTaskProgressInfoVo"/>
        <where>
            <if test="id != null ">and id = #{id}</if>
            <if test="clientId != null ">and client_id = #{clientId}</if>
            <if test="demandId != null ">and demand_id = #{demandId}</if>
            <if test="taskId != null ">and task_id = #{taskId}</if>
            <if test="taskStatus != null  and taskStatus != ''">and task_status = #{taskStatus}</if>
            <if test="userId != null ">and user_id = #{userId}</if>
            <if test="deptId != null ">and dept_id = #{deptId}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''">
                and create_time between #{params.beginCreateTime} and #{params.endCreateTime}
            </if>
            <if test="updateBy != null  and updateBy != ''">and update_by like concat('%', #{updateBy}, '%')</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''">
                and update_time between #{params.beginUpdateTime} and #{params.endUpdateTime}
            </if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
    </select>

    <select id="selectTaskProgressInfoById" parameterType="Long" resultMap="TaskProgressInfoResult">
        <include refid="selectTaskProgressInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertTaskProgressInfo" parameterType="TaskProgressInfo" useGeneratedKeys="true" keyProperty="id">
        insert into tb_task_progress_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="clientId != null">client_id,</if>
            <if test="demandId != null">demand_id,</if>
            <if test="taskId != null">task_id,</if>
            <if test="progress != null and progress != ''">progress,</if>
            <if test="progressImage != null">progress_image,</if>
            <if test="taskStatus != null and taskStatus != ''">task_status,</if>
            <if test="userId != null">user_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="clientId != null">#{clientId},</if>
            <if test="demandId != null">#{demandId},</if>
            <if test="taskId != null">#{taskId},</if>
            <if test="progress != null and progress != ''">#{progress},</if>
            <if test="progressImage != null">#{progressImage},</if>
            <if test="taskStatus != null and taskStatus != ''">#{taskStatus},</if>
            <if test="userId != null">#{userId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateTaskProgressInfo" parameterType="TaskProgressInfo">
        update tb_task_progress_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="clientId != null">client_id = #{clientId},</if>
            <if test="demandId != null">demand_id = #{demandId},</if>
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="progress != null and progress != ''">progress = #{progress},</if>
            <if test="progressImage != null">progress_image = #{progressImage},</if>
            <if test="taskStatus != null and taskStatus != ''">task_status = #{taskStatus},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTaskProgressInfoById" parameterType="Long">
        delete
        from tb_task_progress_info
        where id = #{id}
    </delete>

    <delete id="deleteTaskProgressInfoByIds" parameterType="String">
        delete from tb_task_progress_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>